body {
  font: 400 15px Lato, sans-serif;
  line-height: 1.8;
  margin-top: 5rem;
  color: #3dacd8;
  background: linear-gradient(to bottom, rgba(0,0,0,0) 0%,rgba(0,0,0,0.6) 100%), url("19373.jpg") no-repeat center center fixed;
  background-size: cover;
}
.heading {
  font-size: 90px;
  font-weight: bold;
}
.f {
  padding: 40px;
  background-color: #ffff;
  font-size: medium;
  font-color: black;
}
.sub {
  font-size:30px;
  color:#3dacd8;
  font-family: 'Clicker Script', cursive;
}

.logo {
  position: absolute;
  align-content: right;
  top: 0;
  right: 0;
  width: 64px;
  height: 60px;
}
nav {
  background-color: black;
}

.btn-primary {
  background-color: #007bff;
  color: #fff;
}

.btn-primary:hover {
  background-color: #0069d9;
  color: #fff;
}



table {
  font-family: arial, sans-serif;
  border-collapse: collapse;
  width: 100%;
  background-color: #ffffff;
  color: black;
}

td, th {
  border: 1px solid #dddddd;
  text-align: left;
  padding: 8px;
  background-color: #ffffff;
  color: black;
}


.temper{
  padding: 50px ;
}

.jumbotron {
  color: #fff;
  padding:100px;
  padding-bottom: 500px ;
  font-family: Montserrat, sans-serif;
}

h1, h2, h3, h4, h5, h6 {
  color: #ffffff;
}

.bg-blue {
  background-color: #5680e9;
}

.site-header .navbar-nav .nav-link {
  color: #ffffff;

}

.site-header .navbar-nav .nav-link:hover {
  color: #ffffff;
}

.site-header .navbar-nav .nav-link.active {
  font-weight: 500;
}