{% extends "dlayout.html" %}
<link href="https://fonts.googleapis.com/css?family=Satisfy&display=swap" rel="stylesheet">
<link rel="stylesheet" type="text/css" href="{{url_for('static', filename='main.css')}}">

{% block content %}
<div class="jumbotron text-center"  style="padding-bottom"400px">
<h1 class="heading" style="font-family: 'Kaushan Script', cursive;">WellnessVault</h1>

<h2 class ="sub">Track Your Wellness History Reliably</h2>
<br>
<br>
<div class="btn-group-vertical">
<a href="/addreport" class="btn btn-primary btn-lg active" role="button" aria-pressed="true" style="font-family: 'Montserrat', sans-serif; margin-right: 10px;">Add Report</a>
<a href="/dviewreport" class="btn btn-primary btn-lg active" role="button" aria-pressed="true" style="font-family: 'Montserrat', sans-serif;">View Report</a>
</div>
</div>
{% endblock content %}
