{% extends "dlayout.html" %}
{% block content %}
	<div class="temper text-center">
	    <h2>Check if blockchain has been tampered</h2>
	    <p>Check if there is any unauthorized modification in the blockchain</p>
	    <br>
	    <form action="/dtamper" method="post">
            <div class="form-group">
                <input type="text" class="form-control" name="blockchain" placeholder="Enter the blockchain">
            </div>
            <button type="submit" class="btn btn-primary blue">Check</button>
            </form>

    {% if result %}
        <h2>Result</h2>
        {% if result == "True" %}
            <p class="text-danger">The blockchain has been tampered</p>
        {% else %}
            <p class="text-success">The blockchain has not been tampered</p>
        {% endif %}
    {% endif %}
	 </div>

{% endblock content %}