{% extends "navbar.html" %}

{% block content %}
    <h1>Sign In</h1>
    <form action="" method="post" novalidate>
        {{ form.hidden_tag() }}
        <p>
            {{ form.username.label }}<br>
            {{ form.username(size=32) }}
            {% for error in form.username.errors %}
            <span style="color:red;">[{{error}}]</span>
            {% endfor %}
        </p>
        <p>
            {{ form.password.label }}<br>
            {{ form.password(size=32) }}
            {% for error in form.password.errors %}
            <span style=" color:red;">[{{error}}]</span>
            {% endfor %}
        </p>
        <p class="waves-effect waves-light btn">{{ form.submit() }}</p>

    </form>
<p>Don't have an account? <a href="/register">Register</a></p>

{% endblock %}